*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: SolaimanLipiNormal;
    font-size: 15px;
    line-height: 150%;
  }
  @font-face {
    font-family: SolaimanLipiNormal;
    src: url(fonts/solaimanlipi_20-04-07.eot);
    src: url(fonts/solaimanlipi_20-04-07.eot) format("embedded-opentype"),
      url(fonts/solaimanlipi_20-04-07.woff) format("woff"),
      url(fonts/solaimanlipi_20-04-07.ttf) format("truetype"),
      url(fonts/solaimanlipi_20-04-07.svg#SolaimanLipiNormal) format("svg");
  }


  .header-main-box {
    width: 2000px;
    background: darkcyan;
}

.header-matter-box {
    width: 1430px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-main-menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.main-menu ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 14px;
    transition: all 0.5s ease;
}

.main-menu ul li {
    margin-right: 9px;
}

.main-menu ul li a:hover {
    background: red;
}

.main-news-box {
    width: 1800px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-main-box {
    border-top: 4px solid;
    color: cadetblue;
    padding: 20px;
}

.footer-name-logo-box {
    display: flex;
    justify-content: space-between;
}

.footer-sub-menu ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer-sub-menu ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
}


